pytest==5.4.3
PyMySQL==1.0.2
loguru==0.4.1
allure_python_commons==2.8.32
jmespath==0.9.5
openpyxl==3.0.6
jsonpath==0.82
python_jenkins==1.7.0
HttpRunner==1.5.8
xlrd==2.0.1
Django==3.1.7
requests==2.25.1
jenkins==1.0.2
PyYAML==5.4.1
ruamel.base==1.0.0
