{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

<!DOCTYPE html>
<head>
    {% block head %}

      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
      {% endblock %}

      <title>{% block title %}{% if name %}{{ name }} – {% endif %}接口自动化测试平台{% endblock %}</title>

      {% block style %}
        {% block bootstrap_theme %}
          <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
          <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>

        {% if code_style %}<style>{{ code_style }}</style>{% endif %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ext-language_tools.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/commons.js' %}"></script>


      {% endblock %}
    {% endblock %}
</head>

<html>


{% block content %}

<div class="region"  aria-label="{% trans "request form" %}">





</div>



            <div class="content-main" role="main"  aria-label="{% trans "main content" %}">


              <div class="page-header">
                <h1>请求数据</h1>

              </div>



<div class="request-info" style="clear: both" aria-label="{% trans "request info" %}">

<pre id="req" class="ace_editor" style="margin-top: 0px; margin-bottom: 0px">
<textarea>
    {{ reqdata.formdata|urlize }}
</textarea>
</pre>


              </div>



              <div class="page-header">
                 <h1>响应数据</h1>
              </div>


              <div class="response-info" aria-label="{% trans "response info" %}">
<pre id="res" class="ace_editor" style="margin-top: 0px; margin-bottom: 0px">
<textarea>
{{ respdata|urlize }}
</textarea>
</pre>
              <button id='gen' class="btn btn-primary js-tooltip">自动生成校验</button>

              </div>
            </div>




{% endblock content %}


{% block script %}
      <script src="{% static "rest_framework/js/jquery-3.5.1.min.js" %}"></script>
      <script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
      <script src="{% static "rest_framework/js/csrf.js" %}"></script>
      <script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
      <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
      <script src="{% static "rest_framework/js/default.js" %}"></script>
<script>
    //初始化对象
    editor1 = ace.edit("req");
    editor2 = ace.edit("res");
    init_acs('json', 'monokai', editor1);
    init_acs('json', 'monokai', editor2);
    $(function () {
        var height = (window.screen.height - 500) + 'px';
        $('#req').css('min-height', height);
        $('#res').css('min-height', height);
    });

    function post(url, params) {
        var temp = document.createElement("form");
        temp.action = url;
        temp.method = "post";
        temp.style.display = "none";
        for (var x in params) {
            var opt = document.createElement("input");
            opt.name = x;
            opt.value = params[x];
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }


    $('#gen').click(function () {
        content = editor2.session.getValue();
        post('/testcase/{{ id }}/genassertdata/', {'content': content});
    });

</script>
    {% endblock %}
</html>