{% load rest_framework %}
{% load static %}
{% load i18n %}
<html>
<head>
          <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
          <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>

        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
</head>
<body>
<div class="response-info" aria-label="{% trans "response info" %}">
<div style="
    background-color: darkgray;
    width: 500px;
    height: 200px;
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 3px outset lavenderblush;
    text-align: center;
"><div style="
    position: relative;
    margin-top: 80px;
"><p>测试已运行，请稍后查看测试报告，3秒后跳转上页</p><p><a href="/admin/apitest/testsuite" style="
">点击直接跳转</a></p></div></div>
</body>
</html>